{% extends "base.html" %}
{% block sidebar %}
{% load static %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <style type="text/css">
        #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; }
        a { margin-left: 15px; }

    </style>
    <div id="sidebar">
        Monthly Archive
        <p>
        {% for month in months %}
            {% ifchanged month.0 %} {{ month.0 }} <br /> {% endifchanged %}

        {% endfor %}
        </p>
    </div>
{% endblock %}

{% block content %}

{% for post in post_list %}
<div class="container">
	 <div id="blog" class="row"> 

                 <div class="col-md-10 blogShort">
                     <h1>{{post.title}}</h1>
                     <img src="{% static 'fotos/' %}{{post.nombre_imagen}}" class="pull-left img-responsive thumb margin10 img-thumbnail">
                     <article><p>
                         {{post.body}}
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="{% url 'index:post' post.id %}">VER</a> 
                 </div>                 
               <div class="col-md-12 gap10"></div>
             </div>
</div>{% endfor %}
                
                 







        <!-- Next/Prev page links  -->
        {% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">Entradas mas nuevas &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; Post mas viejitos</a>
                {% endif %}
            </span>
        </div>
        {% endif %}



{% endblock %}
