body{
    background-color: #e3f2fd;
}
.title{
    text-align:center;
    font-family:cursive;
    font-size: 200%;
}
    


#image{
    position: relative;
    left: 20%;
    width:55%;
    height:25%;


}

#myBar {
  position: relative;
  
  width:1%;
  height:1%;
  border-radius: 10%;
  background-color: blueviolet;
    
}